@import "./../components/varaibles.scss";
@font-face {
  font-family: "inter";
  src: url("./../assets/fonts/Inter/static/Inter-Bold.ttf") forma("truetype");
}

@font-face {
  font-family: "Poppins bold";
  src: url("./../assets//fonts/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
}

.sign-up-section {
  background-image: linear-gradient(#fff, #ffee0017);
  padding: 4vh 0px 0px 0vh;
  background-color: rgba(255, 196, 0, 0.048);
  overflow: hidden;
  .signup-side-img {
    mix-blend-mode: darken;
    overflow: visible;
    height: 100%;
    position: relative;
    left: -20px;
    object-fit: cover;
    width: 100%;
  }
  .back-icon {
    position: absolute;
    cursor: pointer;
    top: 40px;
    height: 60px;
    left: 2em;
  }
  h1 {
    font-family: "Poppins";
    text-align: center;
    color: $yellow;
  }
  @media (max-width: 600px) {
    h1 {
      margin-bottom: 10px;
    }
    .back-icon {
      position: absolute;
      height: 40px;
      top: 18px;
      left: 20px;
      filter: drop-shadow(-2px 2px 2px #0000007b);
    }
  }
}
.or {
  margin: 20px 0px;
  text-align: center;
}
.login {
  margin: 10px 0px 30px 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  span {
    a {
      text-decoration: none;
      color: $yellow;
      transition: all 0.2s;
      &:hover {
        color: $dark-yellow;
      }
    }
  }
}
.main {
  padding: 0px 10px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .back-icon {
    position: absolute;
    cursor: pointer;
    top: 40px;
    height: 60px;
    left: 2em;
  }
  .login-section {
    border-radius: 20px;
    .back-icon {
      position: absolute;
      cursor: pointer;
      top: 40px;
      height: 60px;
      left: 2em;
    }
    .login-img {
      border-radius: 20px;
      overflow: hidden;
      box-shadow: -12px 12px 18px #00000044;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}


@media (max-width: 600px) {
  .login-page {
    .back-icon {
      position: absolute;
      cursor: pointer;
      height: 40px;
    }
  }
}