@import "./../components/varaibles.scss";
@font-face {
  font-family: "inter";
  src: url("./../assets/fonts/Inter/static/Inter-Bold.ttf") forma("truetype");
}

@font-face {
  font-family: "Poppins bold";
  src: url("./../assets//fonts/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("./../assets//fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

.sign-up-section {
  background-image: linear-gradient(#fff, #ffee0017);
  padding: 4vh 0px 0px 0vh;
  background-color: rgba(255, 196, 0, 0.048);
  overflow: hidden;
  .signup-side-img {
    mix-blend-mode: darken;
    overflow: visible;
    height: 100%;
    position: relative;
    left: -20px;
    object-fit: cover;
    width: 100%;
  }
  .back-icon {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 2em;
    font-size: 50px;
    color: $grey;
    transition: all 0.3s;
    &:hover {
      color: $light-black;
    }
  }
  h1 {
    font-family: "Poppins";
    text-align: center;
    color: $yellow;
  }
  @media (max-width: 600px) {
    h1 {
      margin-bottom: 10px;
    }
    .back-icon {
      margin-top: -30px;
      position: relative;
      top: 18px;
      left: 20px;
      filter: drop-shadow(1px 3px 2px $black);
    }
  }
}
.or {
  margin: 20px 0px;
  text-align: center;
}
.login {
  margin: 10px 0px 30px 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  span {
    a {
      text-decoration: none;
      color: $yellow;
      transition: all 0.2s;
      text-decoration: underline;
      &:hover {
        color: $dark-yellow;
      }
    }
  }
}
.main {
  padding: 0px 10px;
}

.login-page {
  .back-icon {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 1em;
    font-size: 50px;
    color: $grey;
    transition: all 0.3s;
    &:hover {
      color: $light-black;
    }
  }
  .login-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .login-section {
      border-radius: 20px;
      .login-img {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: -12px 12px 18px #00000044;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .login-page {
    .back-icon {
      position: relative;
      left: 0.4em;
    }
  }
}

.contact {
  background-color: $light-white;
  padding: 24px 0px 0px 0px;

  .contact-sec {
    border-radius: 20px;
    padding: 14px 18px;
    background-color: $white;
  }
}
@media (max-width: 600px) {
  .contact {
    .contact-sec {
      padding: 0px;
    }
  }
}

// About Page CSS

.aboutus-hero {
  width: 100%;
  height: 87vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/aboutus-hero.png");
  background-size: cover;
  background-position: center;
  text-align: center;

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    font-weight: bold;
  }
  p {
    font-family: "Roboto Medium";
    padding: 15px 0;
    font-weight: lighter;
    font-size: 20px;
  }
}

.details-left-con {
  padding: 20px 10px;
  margin-top: auto !important;
  margin-bottom: auto !important;

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
  }
  p {
    font-family: "Roboto Medium";
    color: #333;
    text-wrap: wrap;
    padding: 10px 0;
  }
}
