@import "./varaibles.scss";
@font-face {
  font-family: "caveat";
  src: url("./../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "caveat";
  src: url("./../assets/fonts/Caveat/static/Caveat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  src: url("./../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    forma("truetype");
}
@font-face {
  font-family: "open sans";
  src: url("./../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("./../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("./../assets//fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins bold";
  src: url("./../assets//fonts/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
}

// Header
@mixin line-props {
  width: 100%;
  height: $h-line-height;
  background-color: $h-line-color;
  border-radius: $h-border-radius;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: $h-transition-time;
}

.hamburger {
  padding: $h-padding;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: $h-background-color;

  &__container {
    width: $h-width;
    height: $h-height;
    position: relative;
  }

  &:hover &__inner {
    transform: translate(-#{$h-hide-distance}, 50%);
    opacity: $h-transition-opacity;
  }

  &:hover &__inner::before,
  &:hover &__inner::after {
    transform: translate(#{$h-hide-distance * 2}, 0);
    opacity: $h-transition-opacity;
  }

  &.is-active &__inner {
    display: none;
  }

  &__inner {
    @include line-props();
    top: 50%;
    transform: translate($h-initial-opposition, -50%);
    opacity: 1;

    &::before,
    &::after {
      @include line-props();

      content: "";
      opacity: 1;
      transform: translate(-#{$h-initial-opposition}, 0);
    }

    &::before {
      top: -#{$h-vertical-gap};
    }

    &::after {
      top: $h-vertical-gap;
    }
  }

  &:hover &__hidden {
    opacity: 1;
    transform: translate(0, -50%);
  }

  &:hover &__hidden::before,
  &:hover &__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.is-active &__hidden {
    opacity: 1;
    transform: rotate(45deg);
  }

  &.is-active &__hidden::before {
    transform: translate(0, #{$h-vertical-gap}) rotate(90deg);
    transform-origin: center;
  }

  &.is-active &__hidden::after {
    transform-origin: center;
    transform: translate(0, -#{$h-vertical-gap}) rotate(0);
  }

  &__hidden {
    opacity: 0;
    @include line-props();

    background-color: $h-hover-line-color;
    top: 50%;
    transform: translate(#{$h-hide-distance}, -50%);

    &::before,
    &::after {
      @include line-props();
      background-color: $h-hover-line-color;

      content: "";
      transform: translate(#{$h-hide-distance * 2}, 0);
    }

    &::before {
      top: -#{$h-vertical-gap};
    }

    &::after {
      top: $h-vertical-gap;
    }
  }
}

// Navbar CSS
.header {
  height: 86px;
  // Navbar CSS
  .web-name {
    font-size: 2em;
    font-family: "caveat", sans-serif;
  }
  .navbar {
    padding: 10px 0px 10px 0px;
    background-color: $white;
    color: $black;
    box-shadow: none;

    @media (max-width: 600px) {
      .burger-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  .nav-login {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    .signup-button {
      // Sign up btn CSS
      width: 100px;
      font-family: "Poppins";
      background-color: $light-yellow;
      color: $white !important;
      font-weight: bold;
      letter-spacing: 2px;
      &:hover {
        background-color: $black;
        color: $light-yellow !important;
      }
    }
  }

  // Nav Menu CSS
  .active > * {
    color: $yellow !important;
  }
  .nav-menu {
    color: #000000be;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    margin: 0px 4px;
    font-weight: bold;
    &:hover {
      color: $black !important;
      background-color: $light-yellow;
      transform: translateY(-2px);
      box-shadow: 0px 3px 5px #00000083;
    }
    &::selection {
      background-color: transparent;
    }
  }
}

// Hero CSS

.hero {
  background-color: $light-white;
  border-radius: 20px;
  max-height: 85vh;
  margin-top: 10px;
  overflow: hidden;
  // hero text section
  .hero-text {
    font-family: "Poppins", sans-serif;
    padding: 1.8rem 0px;
    margin-left: 50px;
    color: $black;

    h1 {
      line-height: 80px;
      font-family: "Poppins bold", sans-serif;
      font-size: 4em;
      text-transform: uppercase;
    }
    h1 span:first-child {
      background-color: $white;
    }

    h1 span:nth-child(2) {
      background-color: $light-yellow;
    }
    h1 span:first-child,
    h1 span:nth-child(2) {
      padding: 0px 16px;
    }
    div {
      margin-top: 8px;
      .signup-button {
        font-family: "Poppins", sans-serif;
        margin-left: 2em;
        color: $white;
        background-color: $black;
      }
    }
  }

  @media (max-width: 546px) {
    .hero-text {
      margin: 0;
      h1 {
        line-height: 70px;
        font-size: 3.2em;
      }
    }
  }

  // hero image section

  .hero-img {
    position: relative;

    img {
      filter: drop-shadow(-40px 0px 16px rgba(0, 0, 0, 0.321));
      overflow: visible;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

@media (max-width: 564px) {
  .hero {
    border-radius: 0;
    z-index: 1;
    position: relative;
    background-image: url(./../assets/images/shoppingLite.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    .hero-text {
      color: $white;
      h1 span:first-child {
        background-color: $black;
      }
    }
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

// Brands

.brands {
  margin: 2em 0px;
  background-color: $yellow;
  .brand-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28vh;
    gap: 30px;
    padding: 0px 50px;

    div {
      position: relative;
      top: 10px;
      .img {
        height: 60px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.brands::-webkit-scrollbar {
  width: 0;
}

.brands::-webkit-scrollbar {
  width: 0;
}

// Cards

.cards {
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;

  .title-section {
    display: flex;

    .title {
      width: 80%;
      color: $black;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      max-height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      font-weight: 400;
      font-family: "Poppins bold", sans-serif;
    }

    .icon {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 20%;
      overflow: hidden;
      color: #666666;
      cursor: pointer;
    }
    .icon > * {
      transform: translateX(-8px);
      transition: 0.2s;
      font-size: 1.8rem;
      &:hover {
        transform: translateX(2px);
        color: $black;
      }
    }
  }
  .slogan {
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 546px) {
  .cards {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .cards {
    justify-content: space-evenly;
  }
}

// Products

.card-main {
  padding: 20px 0px;
  font-family: "Poppins bold";
  .card-header {
    display: flex;
    align-items: center;
    span {
      font-size: 2em;
      z-index: 1;
      position: relative;
    }
    img {
      height: 22px;
      margin-left: -100px;
      margin-top: 18px;
      z-index: 0;
      position: relative;
    }
    @media (max-width: 350px) {
      span {
        font-size: 1.6em;
      }
      img {
        height: 18px;
        margin-top: 14px;
      }
    }
  }
}

// Banner

.banner {
  margin-top: -30px;
  background-color: $yellow;
  .main {
    margin: 20px 0px;
    background-color: $yellow;
    overflow: hidden;
    // hero text section
    .banner-text {
      font-family: "Poppins", sans-serif;
      padding: 5rem 0px;
      margin-left: 50px;
      color: $black;

      h1 {
        line-height: 85px;
        font-family: "Poppins bold", sans-serif;
        font-size: 4em;
        text-transform: uppercase;
      }
      h1 span:first-child {
        background-color: $white;
      }

      h1 span:nth-child(2) {
        background-color: $light-yellow;
      }
      h1 span:first-child,
      h1 span:nth-child(2) {
        padding: 0px 16px;
      }
      h5 {
        margin-top: 1em;
      }
      .signup-button {
        font-family: "Poppins", sans-serif;
        margin-top: 1em;
        color: $white;
        background-color: $black;
      }
    }

    // hero image section

    @media (max-width: 546px) {
      .banner-text {
        margin: 0;
        h1 {
          line-height: 1.4em;
          font-size: 3em;
        }
      }
    }
    .banner-img {
      position: relative;
      img {
        filter: drop-shadow(120px 50px 40px rgba(0, 0, 0, 0.341));
        overflow: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -10px;
        object-fit: contain;
        object-position: center;
      }
    }
    @media (max-width: 546px) {
      .banner-img {
        display: none;
      }
    }
  }
}

// Younger Favourite Cards

.youngs-favourite {
  margin: 1.5em 0em;
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .favourite-card {
      width: 45%;
      overflow: hidden;

      .title-section {
        padding: 0em 1em;
        div {
          display: flex;
          .title {
            width: 85%;
            line-height: 1.3em;
            color: $black;
            display: -webkit-box;
            display: -moz-box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            max-height: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
          .icon {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 15%;
            color: #666666;
            cursor: pointer;
          }
          .icon > * {
            font-size: 1.8rem;
            transition: 0.2s;
            &:hover {
              color: $black;
              transform: translateX(6px);
            }
          }
        }
        .slogan {
          font-family: "Poppins";
        }
      }

      div {
        img {
          object-position: top;
          object-fit: cover;
          height: 20em;
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .main {
      gap: 30px;
      .favourite-card {
        width: 100%;
      }
    }
  }
}

// Community

.community {
  background-color: $yellow;
  .main {
    padding: 4em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .main-heading,
  .text {
    text-align: center;
    color: $white;
    width: 70%;
  }
  @media (max-width: 546px) {
    .main-heading,
    .text {
      width: 98%;
    }
  }
  .main-heading {
    font-family: "Poppins bold", sans-serif;
  }
  .text {
    font-family: "Poppins", sans-serif;
  }

  .text-field {
    margin: 0px 10px;
    .paper {
      padding-left: 10px;
      border-radius: 10px;
      margin-top: 20px;
      width: 100%;
      display: flex;
      .input {
        font-family: "Poppins", sans-serif;
        padding-left: 5px;
        flex: 1;
      }
      .btn {
        padding: 6px 8px;
        margin: 6px 8px;
        color: $white;
        font-size: 16px;
        border-radius: 5px;
        background-color: $black;
      }
    }
  }
}

//Footer

.footer {
  background-color: $black;
  padding: 4em 6em;
  .section-one {
    .icons {
      display: flex;
      gap: 10px;
      margin-left: -10px;
    }
    .icons > * {
      cursor: pointer;
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $grey;
      transition: 0.4s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $yellow;
        transition: 0.5s;
        transform: scale(0.9);
        z-index: -1;
      }
      &:hover::before {
        transform: scale(1.1);
        // box-shadow: 0 0 15px $yellow;
        filter: drop-shadow(0 0 15px $yellow);
      }
      &:hover {
        color: $yellow;
        // box-shadow: 0 0 5px $yellow;
        filter: drop-shadow(0 0 5px $yellow);
        text-shadow: 0 0 5px $light-yellow;
        color: $black;
      }
    }
  }

  .section-one > * {
    font-family: "Poppins", sans-serif;
    border: none;
    box-shadow: none;
    color: $white;
    background-color: transparent;
  }
  .section-two > *,
  .section-three > *,
  .section-four > * {
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: none;
    box-shadow: none;
    color: $white;
    background-color: transparent;
    cursor: pointer;
    &::selection {
      background-color: transparent;
    }
  }

  .section-two > *:not(:first-child),
  .section-three > *:not(:first-child),
  .section-four > *:not(:first-child) {
    transition: 0.3s;
    &:hover {
      color: $yellow;
    }
  }
  .section-one > *:first-child {
    font-family: "caveat", sans-serif;
  }
  .section-two > *:first-child,
  .section-three > *:first-child,
  .section-four > *:first-child {
    text-align: center;
    font-family: "caveat", sans-serif;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 40px 0px 16px 0px;

    .section-one > * {
      text-align: center;
      margin: 0px 20px;
    }
    .section-one {
      .icons {
        justify-content: center;
      }
    }
  }
}

.form > :nth-child(1) {
  text-align: center;
}

.form {
  background-color: $white;
  border-radius: 0.6em;
  padding: 20px 20px;
  .field {
    position: relative;
    left: -8px;
    width: 100% !important;
  }
  .signup-btn {
    padding: 12px 0px 12px 0px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .form {
    z-index: 1;
    background-color: rgba(
      0,
      0,
      0,
      0.567
    ); /* Background color with 80% opacity */
    padding: 20px 20px;
    background-image: url(./../assets/images/signup-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 5px;

    label {
      color: $white;
      font-family: "Poppins", sans-serif;
    }
    input {
      color: $white;
      font-family: "Poppins", sans-serif;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.846);
    }
  }
}

.other-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    cursor: no-drop;
    background-color: $light-white;
    padding: 16px 18px;
    border-radius: 10px;
    margin: 10px 0px;
    width: 94%;
    display: flex;
    align-items: center;
    gap: 1.2em;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.571);
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.571);
    }
    &:active {
      transform: translateY(0px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.571) inset;
    }
    span {
      font-family: "inter", sans-serif;
      font-weight: bold;
      &::selection {
        background: none;
      }
    }
    img {
      height: 40px;
    }
  }
}


.login {
  padding: 20px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .head {
    font-size: 2.4em;
    text-align: center;
    text-transform: uppercase;
    margin: 0.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .sub-title {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgb(101, 101, 101);
  }
  form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    .field {
      margin: 10px 0px;
      input {
        font-family: 'Poppins', sans-serif;
      }
    }
  }
  .forgot {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    .remember {
      cursor: pointer;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      text-align: start;
      color: rgb(101, 101, 101);
      color: $black;
      .remember-check {
        position: relative;
        span {
          font-family: "Poppins", sans-serif;
        }
        top: -10px;
        .check {
          color: $dark-yellow;
        }
      }
    }
  }
  .signin-btn {
    padding: 12px 0px;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
  }
  .text {
    margin: 20px 0px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    a {
      color: $dark-yellow;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 600px) {
  .login {
    padding: 20px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    .head {
      text-transform: uppercase;
      margin: 0.1em;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: $yellow ;
    }
    form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      .field {
        border-radius: 8px;
        background-color: #f1ae3929;
        input {
          color: $black
        }
      }
    }
    .forgot {
      margin: 1em 0;
      display: flex;
    flex-direction: column;
    }
  }
}
